*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    margin-right: 30px;
    padding-right: 10px;
}

.container{
    border-radius: 10px;
    background: #bfe1e2;
    position: absolute;
    margin-left: 4%;
    width: 33%;
    top: 10%;
    left: 0%;
    height: auto;
    color: white;
    padding: 40px;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.container input[type= "text"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 18px;
}

.container select{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 18px;
}

.container input[type= "password2"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 18px;
}

.container input[type= "password"]{
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 18px;
}

.container label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    line-height: 25pt;
    font-size: 15px;
}

.container input[type= "submit"]{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    background-color: white;
}
.container input[type= "submit"]{
  color: #999;
}
.container input[type= "submit"]:hover{
  background-color:  rgb(159, 233, 248);
  background-position: right;
  color: rgb(2, 0, 129);
}

.container input[type= "reset"]{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    background-color: white;
}
.container input[type= "reset"]{
  color: #999;
}
.container input[type= "reset"]:hover{
  background-color:  rgb(159, 233, 248);
  background-position: right;
  color: rgb(2, 0, 129);
}

@media only screen and (max-width: 991px){

  .container{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
    position: relative;
    top: 80px;
    width: 100%;
    height: auto;
  }
  .container input[type= "text"]{
    margin-top: 20px;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    top: 30px;
  }

  .container select{
    margin-top: 20px;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    top: 30px;
  }

  .container input[type= "password2"]{
    margin-top: 20px;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    top: 30px;
  }

  .container input[type= "password"]{
    margin-top: 20px;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    top: 30px;
  }
}