*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name{
    display:none;
}
.img1{
    width: 40px;
    margin-right: 10px;
}
.img2{
    width: 40px;
    margin-right: 10px;
}
.img3{
    width: 45px;
    margin-right: 10px;
}
.img4{
    width: 20px;
    margin-right: 10px;
}
.img5{
    width: 20px;
    margin-right: 10px;
}
.img7{
    width: 45px;
    margin-right: 10px;
}
a{
    margin-right: 30px;
    padding-right: 10px;
}
.menu-bar{
    position: absolute;
    border-radius: 10px;
    left: 25%;
    top: 5%;
    z-index: 1;
}
.btn-search{
    position: absolute;
    width: 40%;
    top: 15%;
    left: 27%;
}
.paciente{
    border-radius: 10px;
    background: #0f3959;
    position: absolute;
    margin-left: 4%;
    width: 33%;
    top: 35%;
    left: 0%;
    height: auto;
    color: white;
    padding: 40px;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.results{
    border-radius: 10px;
    background: #bfe1e2;
    padding: 55px 50px;
    padding-left: 250px;
    width: 70%;
    height: 70%;
    top: 25%;
    left: 20%;
    position: absolute;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.results .btn1{
    background: white;
}

.results .btn1 .boton{
    padding-left: auto;
    padding-right: auto;
    background: white;
}
.results .table{
    background: white;
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%;

}
.results .btn-page{
    margin: 0;
    width: 1rem;
    text-align: center;
    display: block;
    justify-content: left;
}

@media  only screen and (max-width: 991px){
    .logo{
        display: none;
    }
    .name{
        display: block;
        position: absolute;
        left: 8%;
        top: 0;
        background: #bfe1e2;
        color: black;
        border-radius: 10px;
    }
    .menu-bar{
        top: 0;
        left: 0;
        z-index: 1;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img7{
        display: none;
    }
    .btn-search{
        position: absolute;
        width: 40%;
        top: 5%;
        left: 27%;
    }
    .paciente{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        position: relative;
        top: 80px;
        width: 100%;
        height: auto;
        z-index: 0;
    }
    .results{
        margin-top: 20px;
        position: relative;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-left: 0;
        width: 100%;
        height: auto;
        left: 0;
        top: 30px;
    }
}
