*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
	font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #bfe1e2 50%, rgb(255, 255, 255) 100%);
  }

.form{
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(151, 65, 65, 0.048),
                5px 5px 15px rgba(255, 255, 255, 0.09);
}

.form img{
    width: 250px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.btn-login{
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 25px;
      border: none;
      background-color: white;
}
.btn-login{
    color: #999;
}
.btn-login:hover{
    background-color:  rgb(159, 233, 248);
    background-position: right;
    color: rgb(2, 0, 129);
}
