*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
  border-radius: 10px;
  background: azure;
  position: absolute;
  margin-left: 4%;
  width: 40%;
  top: 10%;
  left: 30%;
  height: auto;
  color: white;
  padding: 40px;
  z-index: 1;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.container p{
    color: #000000;
    font-size: 130%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}

.container h2{
    font-size: 160%;
    line-height: 150%;
    font-weight: 500;
    color: #0f3959;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

.container a{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    background-color: white;
}
.container a{
  color: #999;
}
.container a:hover{
  background-color:  rgb(159, 233, 248);
  background-position: right;
  color: rgb(2, 0, 129);
}

@media only screen and (max-width: 991px){

  .container{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0;
    position: relative;
    top: 80px;
    width: 100%;
    height: auto;
  }
}