*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name{
    display:none;
}
.img1{
    width: 40px;
    margin-right: 10px;
}
.img2{
    width: 30px;
    margin-right: 10px;
}
.img3{
    width: 35px;
    margin-right: 10px;
}
.img4{
    width: 30px;
    margin-right: 10px;
}
.img5{
    width: 45px;
    margin-right: 10px;
}
a{
    margin-right: 30px;
    padding-right: 10px;
}

.menu-bar{
    position: absolute;
    border-radius: 0;
    left: 23%;
    top: 10%;
    z-index: 1; 
}

.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.patientInfo{
    margin-left: 40px;
    margin-top: 0;
    position: absolute;
    top: 30%;
    left: 5%;
    width: 35%;
    height: 70%;
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.boxInfo{
    margin-top: 12%;
    position: absolute;
    padding: 55px 50px;
    background: #bfe1e2;
    margin-left: 250px;
    padding-left: 220px;
    width: 72%;
    border-radius: 10px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.list-box{
    position: relative;
}

.list-box li{
    font-size: larger;
}

.patientInfo h2{
    color: white;
}

.container .patientInfo .info{
    color: white;
}

.info td{
    padding-right: 10px;
}

@media  only screen and (max-width: 991px){
    .logo{
        display: none;
    }
    .name{
        display: block;
        position: absolute;
        left: 8%;
        background: #bfe1e2;
        color: black;
        border-radius: 10px;
    }
    .menu-bar{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .patientInfo{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        top: 10px;
        width: 30%;
        height: 20%;
        z-index: 0;
    }
    .boxInfo{
        position: relative;
        width: 50%;
        height: auto;
        left: -40%;
        top: -30px;
        z-index: -1;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img4{   
        display: none;         
    }
    .img5{   
        display: none;         
    }

}
@media only screen and (max-width: 600px) {
  
    .menu-bar{
        position: absolute;
        left: 0;
        top: 0;
    }

    .patientInfo{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0;
        position: relative;
        top: 40px;
        width: 50%;
        height: auto;
    }

    .boxInfo{
        margin-top: 0;
        position: relative;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-left: 0;
        width: 50%;
        height: auto;
        left: 0;
        top: 30px;
    }
    .container{
        position: relative;
        width: 100%;
        min-height: auto;
        display: block;
    }
    
}


