*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name{
    display:none;
}

.img1{
    width: 40px;
    margin-right: 10px;
}
.img2{
    width: 30px;
    margin-right: 10px;
}
.img3{
    width: 35px;
    margin-right: 10px;
}
.img4{
    width: 30px;
    margin-right: 10px;
}
.img5{
    width: 20px;
    margin-right: 10px;
}
.img6{
    width: 20px;
    margin-right: 10px;
}
.img7{
    width: 45px;
    margin-right: 10px;
}
a{
    margin-right: 30px;
    padding-right: 10px;
}

.menu-bar{
    position: absolute;
    border-radius: 10px;
    left: 23%;
    top: 10%;
    z-index: 2;
}

.results{
    margin-top: 12%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 70px 50px;
    background: #bfe1e2;
    width: calc(100% - 150px);
    border-radius: 10px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.results .btn{
    background:#999;
    color: white;
    z-index: 0;
}

.results .table{
    background: white;
    margin-bottom: 20px;
}
.results .table{
    background: white;
    margin-bottom: 20px;
}

.results .btn-page{
    margin: 0;
}
.results .input-group{
    width: auto;
}

@media  only screen and (max-width: 991px){
    .logo{
        display: none;
    }
    .name{
        display: block;
        position: absolute;
        left: 8%;
        top: 0;
        background: #bfe1e2;
        color: black;
        border-radius: 10px;
    }
    .menu-bar{
        position: absolute;
        top: 0;
        left: 0;
    }
    .action-img{
        margin: 0;
        padding: 0;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
    .img4{   
        display: none;         
    }
    .img7{   
        display: none;         
    }

}
@media  only screen and (max-width: 767px){
    .results{
        margin: 0;
        margin-top: 35px;
        width: auto;
    }
    .results .table{
        width: auto;
    }
    .action-img{
        margin: 0;
        padding: 0;
    }
    
}