<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/care_search_style.css">

  </head>
  <body>
    <div class="container">
    <div>
        <img class="logo" src="../static/img/Logo.png" alt="">
        <h3 class="name">ADMIN-PATIENT SOFTWARE</h3>
      </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light menu-bar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/asistencial/perfil"><img class="img1" src="../static/img/icon-asistencial.svg">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/asistencial/guardar"><img class="img2" src="../static/img/save.svg">Guardar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/asistencial/consultar"><img class="img3" src="../static/img/search.svg">Consultar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cerrar_sesion"><img class="img7" src="../static/img/logout.svg">Salir</a>
            </li>
          </ul>
        </div>
        </nav>
        <div class="paciente">
            <h2>{{ info.nombres }} {{ info.apellidos }}</h2>
            <table class="Info-paciente">
                <tr>
                    <td>Documento</td>
                    <td>{{ info.documento }}</td>
                </tr>
                <tr>
                    <td>Género</td>
                    <td>{{ info.genero }}</td>
                </tr>
                <tr>
                    <td>Fecha de nacimiento</td>
                    <td> {{ info.edad }}</td>
                </tr>
                <tr>
                    <td>Correo</td>
                    <td>{{ info.correo }}</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{ info.telefono }}</td>
                </tr>
                <tr>
                    <td>EPS</td>
                    <td>{{ info.eps }}</td>
                </tr>
            </table>
        </div>
        <div class="btn-search btn1">
          <form action="/asistencial/consultar", method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="document" placeholder="Documento del paciente" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary boton" type="submit" id="button-addon2">Buscar</button>
                </div>
            </div>
          </form>
        </div>
        <div class="results">
            <table id="table-results" class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th>Modalidad</th>
                        <th>Tipo</th>
                        <th>Fecha de realización</th>
                        <th>Número de Orden</th>
                        <th>Acciones</th>
                    </tr> 
                </thead>    
                <tbody>
                  {% for examen in examenes %}
                    <tr>
                      <td> {{ examen.modalida }}</td>
                      <td> {{ examen.tipo }}</td>
                      <td> {{ examen.fechaRealizacion }}</td>
                      <td> {{ examen.numeroOrden }}</td>
                      <td align="center">
                        <!-- <a class="action-img" href="/paciente/visualizar" target="blank"><img class="img4" src="../static/img/eye.svg" alt="Ver"></a> -->
                        <a class="action-img" href="/download/{{ examen.path }}"><img class="img5" src="../static/img/download.svg" alt="Descargar"></a>
                        <a class="action-img" href="/asistencial/consultar/{{ examen._id }}/{{ info.documento }}"><img class="img5" src="../static/img/delete.svg" alt="Eliminar"></a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example" class="d-flex justify-content-end" >
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link btn-page" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link btn-page" href="#">1</a></li>
                  <li class="page-item"><a class="page-link btn-page" href="#">2</a></li>
                  <li class="page-item"><a class="page-link btn-page" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link btn-page" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>


