<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/message.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Bienvenido a Admin Patients</h2>
        <p>Antes de comenzar recomendamos actualizar tu perfil con el fin de brindardarte la mayor seguridad posible
            respecto al almacenamiento de tu impormación.
            ¿Deseas actualizar tu perfíl?
            <a href="{{ url_for('perfil_paciente') }}">Ahora no</a>
            <a href="/actualizar">Actualizar</a>
        </p>
    </div>
</body>
</html>