<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/patient_profile_style.css">
</head>
<body>
  <div class="container"> 
    <div>
      <img class="logo" src="../static/img/Logo.png" alt="">
      <h3 class="name">ADMIN-PATIENT SOFTWARE</h3>
    </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light menu-bar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/paciente/perfil"><img class="img1" src="../static/img/icon-patient.svg">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paciente/registros"><img class="img2" src="../static/img/icon-register.svg">Registros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paciente/señales"><img class="img3" src="../static/img/icon-signal.svg">Señales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paciente/imagenes"><img class="img4" src="../static/img/icon-image.svg">Imágenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cerrar_sesion"><img class="img5" src="../static/img/logout.svg">Salir</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="patientInfo">
      <h2>{{ info.nombres }} {{ info.apellidos }}</h2>
      <table class="info">
        <tr>
          <td>Documento</td>
          <td>{{ info.documento }}</td>
        </tr>
        <tr>
          <td>Género</td>
          <td>{{ info.genero }}</td>
        </tr>
        <tr>
          <td>Edad</td>
          <td> {{ info.edad }} </td>
        </tr>
        <tr>
          <td>Correo</td>
          <td>{{ info.correo }}</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>{{ info.telefono }}</td>
        </tr>
        <tr>
          <td>Eps</td>
          <td>{{ info.eps }}</td>
        </tr>
      </table>
    </div>
    <div class="boxInfo">
      <ul class="list-group list-box">
        <li class="list-group-item">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Favoritos</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Recientes</a>
            </div>
          </nav>
        </li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>