<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/patient_signal_style.css">

</head>
<body>
    <div class="container">
    <div>
        <img class="logo" src="../static/img/Logo.png" alt="">
        <h3 class="name">ADMIN-PATIENT SOFTWARE</h3>
      </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light menu-bar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/paciente/perfil"><img class="img1" src="../static/img/icon-patient.svg">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/paciente/registros"><img class="img2" src="../static/img/icon-register.svg">Registros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/paciente/señales"><img class="img3" src="../static/img/icon-signal.svg">Señales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/paciente/imagenes"><img class="img4" src="../static/img/icon-image.svg">Imágenes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cerrar_sesion"><img class="img7" src="../static/img/logout.svg">Salir</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="results">
            <table id="table-results" class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha de realización</th>
                        <th>Número de Orden</th>
                        <th>Acciones</th>
                    </tr> 
                </thead>    
                <tbody>
                  {% for examen in examenes %}
                    <tr>
                      <td>{{ examen.tipo }}</td>
                      <td>{{ examen.fechaRealizacion }}</td>
                      <td>{{ examen.numeroOrden }}</td>
                      <td align="center">
                      <a class="action-img" href="/download/{{ examen.path }}"><img class="img6" src="../static/img/download.svg" alt="Descargar"></a>
                    </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link btn-page" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link btn-page" href="#">1</a></li>
                  <li class="page-item"><a class="page-link btn-page" href="#">2</a></li>
                  <li class="page-item"><a class="page-link btn-page" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link btn-page" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>