<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/ver_style.css">
</head>
<body>
    <div class="container">
        <iframe class="PDF" src="{{ ruta }}" frameborder="0"/>
    </div>
</body>
</html>